{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}
<div class="container mainDiv">
   <table>
    <thead class="titleShoppingCard">
        <tr class="panierVide">
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Prix total</th>
        </tr>
    </thead>
    <tbody>
    {% set total_price = 0 %}
        {% for item in dataBasket %}
        <tr>
            <td><img class="imgInBasket" src="/uploads/{{ item.product.fondantCandle.image }}" alt="image basket"></td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.fondantCandle.price }}</td>
            <td>{{ item.product.fondantCandle.price * item.quantity }}</td>
        </tr>

    {% set total_price = total_price + (item.product.fondantCandle.price * item.quantity) %}

        {% endfor %}
        
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td>Total: {{ total_price }}</td>
        </tr>
    </tfoot>
</table>
{# 
    <div class="panierVide"> 
        <img src="{{ asset('build/images/panier-vide.png') }}" alt="panier vide">
        <h2 >Votre panier est vide</h2>
    </div> #}

 
</div>
{% endblock %}
