{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
<div class="container mainDiv">
   <table>
    <thead class="titleShoppingCard">
        <tr class="panierVide">
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Prix total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       {% set total_price = 0 %}
        {% for item in dataBasket %}
        <tr>
            <td><img class="imgInBasket" src="/uploads/{{ item.product.fondantCandle.image }}" alt="image basket"></td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.fondantCandle.price }} €</td>
            <td>{{ item.product.fondantCandle.price * item.quantity }} €</td>
            <td> 
            <a class="btn btn-success" href="{{ path('basket_add', {id: item.product.fondantCandle.id}) }}">+</a>
            <a class="btn btn-warning" href="{{ path('basket_remove', {id: item.product.fondantCandle.id}) }}">-</a>
            <a class="btn btn-danger" href="{{ path('basket_delete', {id: item.product.fondantCandle.id}) }}">x</a>
            </td>
        </tr>

              <tr>  
            <td><img class="imgInBasket" src="/uploads/{{ item.product.pouredCandle.image }}" alt="image basket"></td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.pouredCandle.price }} €</td>
            <td>{{ item.product.pouredCandle.price * item.quantity }} €</td>
             <td> 
            <a class="btn btn-success" href="{{ path('basket_add', {id: item.product.pouredCandle.id}) }}">+</a>
            <a class="btn btn-warning" href="{{ path('basket_remove', {id: item.product.pouredCandle.id}) }}">-</a>
            <a class="btn btn-danger" href="{{ path('basket_delete', {id: item.product.pouredCandle.id}) }}">x</a>
            </td>
        </tr>  

        {% set total_price = total_price + (item.product.fondantCandle.price * item.quantity) %}
        {% set total_price = total_price + (item.product.pouredCandle.price * item.quantity) %}
    {% else %}
        <tr>
        <td colspan="5" class="text-center"> Votre panier est vide</td>
        </tr>

        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td>Total: {{ total_price }} €</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td>
                <a class="btn btn-success" href="#">Passer au Payment</a>
            </td>
        </tr>
    </tfoot>
</table>

{# 
    <div class="panierVide"> 
        <img src="{{ asset('build/images/panier-vide.png') }}" alt="panier vide">
        <h2 >Votre panier est vide</h2>
    </div> #}

 
</div>
{% endblock %}
