


    
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {# {{ form_row(registrationForm.address) }}
        {{ form_row(registrationForm.city) }}
        {{ form_row(registrationForm.postalCode) }}
        {{ form_row(registrationForm.country) }} #}
        {{ form_row(registrationForm.phone_number) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        

       
        <button type="submit" class="btn">Register</button>
         {{ form_row(registrationForm.agreeTerms) }}

    

