{% extends 'base.html.twig' %}

{% block title %}FondantCandle index{% endblock %}

{% block body %}
    <h1 class="titleCandlePage">FondantCandle index</h1>



   <div class="row">
  {% for fondant_candle in fondant_candles %}
    <div class="col-md-4">
      <a href="{{ path('app_fondant_candle_show', {'id': fondant_candle.id}) }}" class="card my-4 fondantCard">
        <img class="card-img-top imgCard" src="/uploads/{{ fondant_candle.image }}" alt="Candle Image">
        <div class="card-body">
          <h4 class="card-title">Collection: {{ fondant_candle.name }}</h4>
          <p class="card-text">Price: {{ fondant_candle.price }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% if is_granted('ROLE_ADMIN') %}
<a class="btn btn-secondary" href="{{ path('app_fondant_candle_new') }}">Create new</a>
{% endif %}
{% endblock %}



   {% block javascripts %}
            {{ encore_entry_script_tags('fondantCandle') }}
            {{ parent() }}
        {% endblock %}