{% extends 'base.html.twig' %}

{% block title %}FondantCandle{% endblock %}

{% block body %}
    <h1>FondantCandle</h1>

    <div class="container">
        <img class="imgShowProductDescription" src="/uploads/{{ fondant_candle.image }}" style="width: 350px; float: left;" alt="">
    </div>    
    <div class="info-container">
        <div><strong>Name:</strong> {{ fondant_candle.name }}</div>
        <div><strong>Description:</strong> {{ fondant_candle.description }}</div>
        <div><strong>Price:</strong> {{ fondant_candle.price }}</div>
        <a class="btn addToCardBtn" href="{{ path('basket_add', {'id': fondant_candle.id}) }}"><i class="fa-solid fa-cart-shopping me-1"></i>Ajouter au panier</a>
    </div>

    <div class="btnListShowDetails">
    <a class="btn btn-warning" href="{{ path('app_fondant_candle_index') }}">back to list</a>

    <a class="btn btn-warning" href="{{ path('app_fondant_candle_edit', {'id': fondant_candle.id}) }}">edit</a>
   

    {{ include('pages/fondant_candle/_delete_form.html.twig') }}
    </div>
{% endblock %}
