{% extends 'base.html.twig' %}

{% block title %}NC Candle{% endblock %}



{% block body %}

<!-- Carousel -->
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="{{ asset('build/images/img2carousel.jpg') }}" class="d-block " alt="">
      </div>
      <div class="carousel-item">
      <img src="{{ asset('build/images/img1carousel.jpg') }}" class="d-block " alt="">
      </div>
      <div class="carousel-item">
      <img src="{{ asset('build/images/img3carousel.jpg') }}" class="d-block " alt="">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<div class="divCatalogs">
  <div class="pouredCatalogNode">
    <img src="{{ asset('build/images/coule.jpg') }}" alt="catalog coulée">
    <h5>Bougie Coulée</h5>
  </div>
  <div class="fondantCatalogNode">
    <img src="{{ asset('build/images/fondant.jpg') }}" alt="catalog fondant">
    <h5>Fondants</h5>
  </div>
</div>
    


  <section class="container text-center aboutSection">
  <div class="row">
  <div  class="aboutText col">
    <h2>A propos de l'entreprise</h2>
    <h6>Nc Candles</h6>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Saepe aspernatur voluptatem, cupiditate ab assumenda labore 
     nostrum omnis! Asperiores, earum! Aut ratione temporibus facere 
     debitis unde, dicta dolore quam et autem.
     Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Saepe aspernatur voluptatem, cupiditate ab assumenda labore 
     nostrum omnis! Asperiores, earum! Aut ratione temporibus facere 
     debitis unde, dicta dolore quam et autem.
     Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Saepe aspernatur voluptatem, cupiditate ab assumenda labore 
     nostrum omnis! Asperiores, earum! Aut ratione temporibus facere 
     debitis unde, dicta dolore quam et autem.</p>
  </div>

  
  <div class="aboutImg col">
    <img src="{{ asset('build/images/candle-making.jpg') }}" alt="About Image">
  </div>
</div>

</section>

{% endblock %}


          {% block javascripts %}
            {{ encore_entry_script_tags('homepage') }}
            {{ parent() }}
        {% endblock %}