{% extends 'base.html.twig' %}

{% block title %}PouredCandle index{% endblock %}

{% block body %}

    <h1 class="titleCandlePage">Bougies coulées</h1>

<div class="row">
  {% for poured_candle in poured_candles %}
    <div class="col-md-4">
      <a href="{{ path('app_poured_candle_show', {'id': poured_candle.id}) }}" class="card pouredCard my-4">
        <img class="card-img-top" src="/uploads/{{ poured_candle.image }}" alt="Candle Image">
        <div class="card-body">
          <h4 class="card-title">Collection: {{ poured_candle.name }}</h4>
          <p class="card-text">Price: {{ poured_candle.price }} €</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>






<a class="btn btn-secondary" href="{{ path('app_poured_candle_new') }}">Create new</a>
{% endblock %}




          {% block javascripts %}
            {{ encore_entry_script_tags('pouredCandle') }}
            {{ parent() }}
        {% endblock %}