{% extends 'base.html.twig' %}

{% block title %}Bougie coulée{% endblock %}

{% block body %}
    <h1 class="text-center">Bougie Collection {{ poured_candle.name }} </h1>

    <div class="container">
        <img class="imgShowProductDescription" src="/uploads/{{ poured_candle.image }}" style="width: 350px; float: left;" alt="">
    </div>    
    <div class="info-container">
        <div><strong>Name:</strong> {{ poured_candle.name }}</div>
        <div><strong>Description:</strong> {{ poured_candle.description }}</div>
        <div><strong>Price:</strong> {{ poured_candle.price }} €</div>
        <a class="btn addToCardBtn" href="{{ path('basket_add', {'id': poured_candle.id }) }}"><i class="fa-solid fa-cart-shopping me-1"></i>Ajouter au panier</a>
    </div>

    <div class="btnListShowDetails">
    <a class="btn btn-warning" href="{{ path('app_poured_candle_index') }}">back to list</a>
    
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-warning" href="{{ path('app_poured_candle_edit', {'id': poured_candle.id}) }}">edit</a>
    
    {{ include('pages/poured_candle/_delete_form.html.twig') }}
    {% endif %}
    </div>

    
{% endblock %}
