{% extends 'base.html.twig' %}

{% block title %}FondantCandle index{% endblock %}

{% block body %}
    <h1>FondantCandle index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                {# <th>Quantity</th> #}
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fondant_candle in fondant_candles %}
            <tr>
                {# <td>{{ fondant_candle.id }}</td> #}
                <td>{{ fondant_candle.name }}</td>
                <td>{{ fondant_candle.description }}</td>
                <td>{{ fondant_candle.price }}</td>
                {# <td>{{ fondant_candle.quantity }}</td> #}
                <td>
                <img src="/uploads/{{ fondant_candle.image }}" style="width: 200px" alt="">
                </td>
                <td>
                    <a href="{{ path('app_fondant_candle_show', {'id': fondant_candle.id}) }}">show</a>
                    <a href="{{ path('app_fondant_candle_edit', {'id': fondant_candle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fondant_candle_new') }}">Create new</a>
{% endblock %}
