{% extends 'base.html.twig' %}

{% block title %}FondantCandle{% endblock %}

{% block body %}
    <h1>FondantCandle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fondant_candle.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ fondant_candle.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ fondant_candle.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ fondant_candle.price }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ fondant_candle.quantity }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ fondant_candle.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fondant_candle_index') }}">back to list</a>

    <a href="{{ path('app_fondant_candle_edit', {'id': fondant_candle.id}) }}">edit</a>

    {{ include('fondant_candle/_delete_form.html.twig') }}
{% endblock %}
